* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8A05BE;
    --secondary-color: #FFFFFF;
    --text-color: #000000;
    --background-color: #F5F5F5;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
}

.logo-img {
    height: 25px;
}

header nav {
    gap: 20px;
    display: flex;

}

header nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

header nav a:hover {
    color: var(--primary-color);
}

.btn-nubank {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.hero {
    position: relative;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
    align-items: end;
    display: flex;
    padding: 40px 80px;
    min-height: 80vh;
    background: url('img/Gemini_Generated_Image_uktrm9uktrm9uktr.png') center 0/cover no-repeat;
}

.hero::before {
    border-radius: inherit;
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));

}

.hero-content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    z-index: 1;

}

.hero-texte {
    max-width: 480px;
}

.hero-text h1 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 32px;
}

.hero-card {
    max-width: 400px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.hero-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero-card label {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 8px;
}

.hero-card input {
    width: 100%;
    padding: 10px 16px;
    border: none;
    border-radius: 30px;
    background-color: #ececec;
}

.btn-confirm {
    width: 100%;
    background-color: var(--primary-color);
    padding: 16px;
    font-size: 16px;
    font-weight: 700px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: var(--secondary-color);
    margin-bottom: 16px;
    margin-top: 5px;


}

.services {
    padding: 60px 40px;
    background-color: var(--background-color);
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;

}

.services a {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color);
    justify-content: space-between;
    gap: 10px;
    padding: 20px 20px;

}

.services a:hover {
    color: var(--primary-color);
}

.card-section {
    padding: 100px 40px;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;

}

.credit-card {
    width: 360px;
    height: 220px;
    background: linear-gradient(135deg, #8A05BE, #5C00A3);
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(130, 10, 209, 0.3);
}

.card-chip {
    background: linear-gradient(135deg, #ffd700, #ffa500);
    width: 60px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-number {
    color: var(--secondary-color);
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.card-info span {
    color: var(--secondary-color);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.card-info strong {

    font-size: 24px;
    color: var(--secondary-color);
}

.card-text {
    max-width: 480px;
}

.card-text h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
    color: var(--secondary-color);
}

.card-text p {
    line-height: 1.7;
    font-size: 16px;
    color: var(--background-color);
    margin-bottom: 24px;
}

.card-text ul {
    list-style: none;
    margin-bottom: 24px;

}

.card-text ul li {

    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
    color: var(--background-color);
}

.card-text ul li::before {
    content: '✓';
    position: absolute;
    left: 0;
    color: var(--primary-color);
}

.btn-purple {
    background-color: var(--primary-color);
    display: inline-block;
    color: var(--secondary-color);
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;


}

.cta {
    padding: 100px 40px;
    background: linear-gradient(135deg, #8A05BE, #5C00A3);
    text-align: center;
    color: var(--secondary-color);

}

.cta h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}

.cta p {
    font-size: 16px;
    margin-bottom: 24px;
}

.btn-cta {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 16px 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

}

.btn-cta:hover {
    transition: all 0.3s ease;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.3);
} footer {
    padding: 60px 40px 30px;
    background-color: var(--text-color);
}
.footer-top{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}
.footer-links {
    flex: 1;
    
}.footer-info {
    flex: 2
}

.footer-logo {
    margin-bottom: 20px;
    height: 40px;
}
.footer-top h4 {
    color: rgb(247, 245, 245);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;
}
.footer-top a{
    display: block;
    color:  rgb(177, 176, 176);
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;

}
.footer-info p {
    text-transform: uppercase;
    color: rgb(255, 253, 253);
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 16px;
}
